.close-btn {
  color: red;
  background-color: transparent; /*부모 색이랑 똑같이*/
  border: none; /*버튼 테두리 제거*/
  font-size: 1.6rem; /*크기를 적절하게 설정*/
  position: absolute; /*위치 설정*/
  left: 10px; /*왼쪽으로 이동*/
  top: 10px; /*위쪽 여백도 설정*/
  font-weight: 900;
}

.x-icon {
  stroke-width: 2; /* 원하는 굵기로 설정 */
  color: red;
}
