.carousel-container {
  overflow: hidden;
}

@media (max-width: 480px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
  .typeTitle {
    padding-bottom: 20px;
  }
}

.typeTitle {
  padding-left: 20px;
  margin-bottom: 15px;
}

.react-multi-carousel-list {
  padding-bottom: 40px;
}
