.movie-card {
  width: 100%;
  height: 100%;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: calc(100% + 50%);
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  position: absolute;
}

.overlay:hover {
  opacity: 1;
}
.movie-card:hover {
  transform: scale(1.3) translateZ(20px);
  z-index: 2;
}

.title {
  font-size: 25px;
}

.movie-detail {
  display: flex;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
}

.movie-detail > * {
  padding-left: 10px;
}

.adult {
  color: red;
}
