.logo {
  width: 100px;
}

body {
  background-color: black !important;
  color: white !important;
}

.layoutContainer {
  padding-left: 20px;
}

.main-container {
  padding-bottom: 40px;
}

.main-container:last-child {
  padding-bottom: 0;
}
